/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeebe3;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

/* Header Content Styles */
nav {
    background-color: #1A85A1;
    padding: 10px; 
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px; 
}

nav ul li a {
    color: #eeebe3;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px; 
}

nav ul li a:hover {
    background-color: #DEDEDE;
    color: black;
}

/* Main Content Styles */
main {
    flex: 1; 
    min-height: 60vh;
    padding: 20px;
	background-color: #eeebe3;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: grid;
    place-items: center;
	
}

main div {
    margin: 20px 0;
    padding: 10px;
}

/* Footer Styles */
footer {
    background-color: #1A85A1; 
    color: #eeebe3; 
    text-align: center;
    padding: 10px 15px;
    margin-top: auto; 
}

footer a {
    color: #eeebe3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Utility Classes (optional) */
.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

/* Responsive Design (optional) */
@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }

    main {
        font-size: 14px;
    }
}
