body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4fa9e;
    direction: ltr;
}

.logo {
    text-align: center; 
    background-color: #e4fa9e;
}

.logo img {
    padding-top: 10px;
    max-width: 100%;
    height: auto;
    width: 450px; 
}

.right-div {
    float: right;
    padding-right: 20px;
}

.right-div img {
    max-width: 100%;
    height: auto;
    width: 100px; 
    padding-top: 20px;
}

h1{
	color:#484d9a;
	text-align:center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;  
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;  
}


nav {
    background-color: #484d9a; 
    padding: 10px;
}


nav ul li a:hover {
    background-color: #e4fa9e;  
    border-radius: 5px;
	color:black;
}

