body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeebe3;
}

.top, .logo {
    background-color: #eeebe3;
	text-align:center;
}

.logo img, .right-div img {
    max-width: 100%;
    height: auto;
}

.logo img {
    padding-top: 10px;
    width: 450px;
	
}

.right-div {
    float: right;
    padding-right: 20px;
}

.right-div img {
    width: 100px;
    padding-top: 20px;
}

h1 {
    color: #5D6BBA;
    text-align: center;
    font-size: 48px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.watch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 900px;
}

.sort {
    text-align: right;
    margin-right: 120px;
}

.product {
    background-color: #eeebe3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(76, 92, 105, 1);
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.price {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

nav {
    background-color: #1A85A1;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #eeebe3;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #DEDEDE;
    border-radius: 5px;
    color: black;
}

nav ul li.logout a {
    margin-left: auto; 
}

.footer {
    background-color: #1A85A1;
    color: #eeebe3;
    text-align: center;
    padding: 15px 15px;
    font-size: 16px;
    margin-top: auto;
}
