<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}" />
    <title>WatchShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<body>
    <div th:insert="fragments/header :: header"></div>

    <div class="container" id="product-container" th:fragment="product-container">
        <div class="product" th:each="watch : ${watches}">
            <a th:href="@{/watch/{id}(id=${watch.id})}">
                <img th:src="${watch.image.pathToImage}" alt="Watch Image">
            </a>
            <h3 th:text="${watch.name}">Name</h3>
            <div class="product-description" th:text="${watch.brand}">Brand</div>
            <div class="price" th:text="'€ ' + ${watch.price}">Price</div>
        </div>
    </div>
</body>

</html>
