<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
<link rel="preload" href="/images/1100.jpg" as="image">   
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
    <div th:insert="fragments/navbar :: navbar"></div>
    <form class="login-form" th:action="@{/login}" th:object="${form}" method="post">
	    <label for="username">Username:</label>
        <input type="text" th:field="*{username}" >
		<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:#4C5C69; font-size: 13px;">Username error</label>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}">
		<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:#4C5C69; font-size: 13px;">Password error</label>
        <button type="submit">Login</button>
    </form>
</body>
</html>

