<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" th:href="@{/images/favicon.ico}" />
    <title>Login Form</title>
<link rel="preload" href="/images/1100.jpg" as="image">   
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
    <div th:insert="fragments/structural :: header"></div>
	<main>
    <div th:if="${authentication}">
        <h1 style="color: #4C5C69; background-color: white; padding: 10px; border-radius: 5px;">
    		You are already logged in.
		</h1>
    </div>
    <div th:unless="${authentication}">
        <div th:insert="fragments/form :: login"></div>
    </div>
</main>
	<div th:insert="fragments/structural ::footer"></div>
</body>
</html>

