<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Shop</a></li>
            <li><a th:href="@{/cart}">Cart</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>

    <form class="register-form">
        <label for="name">Name:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <button type="submit">Register</button>
    </form>
</body>
</html>
