<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch Details</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<div class="top">
	<div class="right-div">
     		<img src="images/basketEmpty.png" alt="basket Logo">
     	</div>
	 <div class="logo">
    <img src="images/logo.png" alt="Company Logo">
	</div>
        </div>
    <h1 th:text="${watch.name}">Watch Name</h1>
    <p th:text="${watch.description}">Description</p>
    <p th:text="${watch.brand}">Brand</p>
    <p th:text="${watch.price}">Price</p>
</body>
</html>
